.App {
  text-align: center;
}

.Bookstore-CMS {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  text-decoration: none;
  color: #1b1b1b;
}

.menu {
  border-bottom: 1px solid rgb(193, 191, 191);
}

.logo {
  width: 20%;
  padding-right: 0.8rem;
}

#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 1rem 4.5vw;
  width: 90vw;
}

td,
th {
  border: 1px solid #ddd;
  border-width: 1px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

.status {
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.statusContainer {
  width: 10rem;
}

.joinBtn {
  background-color: transparent;
}

.leaveBtn {
  color: red;
  border-color: rgb(102, 8, 234);
  background-color: transparent;
}

.images {
  width: 100%;
  padding: 1rem;
}